<!-- Sidebar -->
        <aside class="sidebar">
             <!-- BURAYA ALT SIDEBAR EKLENECEK -->
    <div id="dynamic-article-sidebar"></div>
            <div class="sidebar-section">
                <div class="sidebar-title">ARTICLES</div>
                <a href="#article3" class="sidebar-link" onclick="showSection('article3')">L1 - Cable Issues in Network Connectivity</a>
                <a href="#article4" class="sidebar-link" onclick="showSection('article4')">L2 - Resolving Access Issues Due to MAC Address Conflict in the Same VLAN</</a>
                <a href="#article5" class="sidebar-link" onclick="showSection('article5')">L2 - Security Vulnerability with Rogue DHCP Server</a>
                <a href="#article2" class="sidebar-link" onclick="showSection('article2')">L3 - Mitigating IP Blocking Issues During Cyberattacks</a>
                <a href="#article6" class="sidebar-link" onclick="showSection('article6')">L3 - Security with Subnet Segmentation and Access Control Lists</a>
                <a href="#article7" class="sidebar-link" onclick="showSection('article7')">L4 - Securing SMTP Services in University Networks</a>
                <a href="#article10" class="sidebar-link" onclick="showSection('article10')">L4 - TCP Three-Way Handshake Failure Due to ACK Packet Blocking</a>
                <a href="#article8" class="sidebar-link" onclick="showSection('article8')">L5 - Secure Telnet Session Management in University Campus Networks</a>
                <a href="#article9" class="sidebar-link" onclick="showSection('article9')">L6 - Addressing SSL/TLS Certificate Verification</a>
                <a href="#article1" class="sidebar-link" onclick="showSection('article1')">L7 - HTTP 503 Service Unavailable error</a>
            </div>



            <div class="sidebar-section">
                <div class="sidebar-title">QUICK LINKS</div>
                <a href="#home" class="sidebar-link" onclick="showSection('home')">Home</a>
                <a href="#about" class="sidebar-link" onclick="showSection('about')">About</a>
                <a href="#instructor" class="sidebar-link" onclick="showSection('instructor')">Instructor</a>
                <a href="#references" class="sidebar-link" onclick="showSection('references')">References</a>
                <a href="#resources" class="sidebar-link" onclick="showSection('resources')">Resources</a>
                <a href="#contact" class="sidebar-link" onclick="showSection('contact')">Contact</a>
            </div>
        </aside>
