<section id="references" class="article-section">
    <h1 class="article-title">References</h1>
    <ul class="no-indent">
        <li>Personal experiences and observations during academic and network infrastructure projects.</li>
        <li>Department of Systems Engineering, Manisa Celal Bayar University.</li>
        <li>IEEE Transactions on Computer Networks, August 2023</li>
        <li>Tanenbaum, A. S., & Wetherall, D. J. (2010). Computer Networks.</li>
        <li><a href="https://ieeexplore.ieee.org/" target="_blank">IEEE Xplore Digital Library</a></li>
    </ul>
</section>
